@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { 
    margin: 0;
    height: 100%;
}
.disabled {
    pointer-events:none; 
    opacity:0.6;        
}
.white-icon {
    padding-right: 10px;
    align-content: center;
    color: white;
}
ng-progress {
    /* host element */
  }
  
  .ng-progress-bar {
    /* bar wrapper */
  }
  
  .ng-bar-placeholder {
    /* bar placeholder
    
    / change the height of the progress bar */
    height: 10px !important;
  }
  
  .ng-bar {
    /* the actual bar that translates with when the progress increments */
  }
  
  .ng-spinner {
     /* Spinner wrapper */
  }
  
  .ng-spinner-icon {
    /* The actual spinner where defines the radius size and animation */
  }