<mat-nav-list>
    
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home </mat-icon><span class="nav-caption">home</span>
  </a>
  <a mat-list-item routerLink="/ricerca" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>   
  </a>
  <a mat-list-item routerLink="/upload" (click)="onSidenavClose()">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
  </a>
</mat-nav-list>