a {
    text-decoration: none;
    color: white;
    padding-right: 50px;
    align-content: center;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
    align-content: center
}
.test-icona{
    top: 4px;
    position: relative;
}
