<mat-toolbar color="primary">
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <a routerLink="/home"><mat-icon class="white-icon test-icona">home</mat-icon>Home</a>
        <!-- <mat-icon class="white-icon">search</mat-icon><a routerLink="/ricerca">Ricerca</a> -->
        <!-- <mat-icon class="white-icon">cloud_upload</mat-icon><button (click)="openDialog()" >Carica file</button> -->
        <button mat-raised-button (click)="openDialog()"><mat-icon>cloud_upload</mat-icon>&nbsp;Upload File</button>
    </div>
</mat-toolbar>