table{
  width: 100%;
}
.example-form {
  min-width: 150px;
  display:block;
  text-align: center;
  direction: ltr;
}

.example-full-width {
  width: 100%;
}
#form-ricerca{
  margin-top:15px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}


.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.example-element-idUni{
  padding-right: 10px;
}
.text-area-width{
  width: 30%;
}
.test{
  text-align: center;
}
.example-form-detail {
  width: 100%;
  display:block;
  text-align: center;
  direction: ltr;
}
.example-form-radio {
    /* width: 109%; */
    text-align: center;
    position: absolute;
    right: 2%;
}