<ngx-spinner
bdOpacity = 0.9
bdColor = "rgba(51,51,51,0.33)"
size = "medium"
color = "#000000"
type = "ball-beat"
[fullScreen] = "true"
>
<p style="color: black" ></p>
</ngx-spinner>
<mat-radio-group [(ngModel)]="ricercaStat" aria-label="Select an option" class="example-form">

    <mat-radio-button *ngFor="let ricerca of ricercaValue" (change)="onItemChange($event)" [value]="ricerca.value">
        {{ricerca.value}} &nbsp;
    </mat-radio-button>

</mat-radio-group>

<form id="form-ricerca" (ngSubmit)="ricercaAvanzata()" class="example-form" [formGroup]="form">

    <mat-form-field>
        <input matInput placeholder="Inserisci id del ticket" formControlName="id">
    </mat-form-field>
    &nbsp;
    <mat-form-field layout-align="start center" flex>
        <input matInput placeholder="Inserisci full" formControlName="testo">
    </mat-form-field>
    &nbsp;
    <mat-form-field class="select-update">
        <mat-label>Stato</mat-label>
        <mat-select formControlName="stato">
            <mat-option *ngFor="let stato of stati" [value]="stato.value">
                {{stato.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;

    <button type="submit" class="button" mat-button>Cerca</button>

</form>

<table *ngIf="this.lunghezza > 0 " mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <form id="form-ricerca" class="example-form-detail" [formGroup]="dettaglio">
                    <mat-form-field style="text-align: center"> 
                        <input matInput placeholder="ID Univoco Richiesta" [value]="element.idUnivocoRichiesta" readonly
                            formControlName="idUni" style="text-align:center">
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field style="text-align: center">
                            <input matInput placeholder="Chiave 1" [value]="element.chiave1" readonly
                                formControlName="chiave1" style="text-align:center">
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field style="text-align: center">
                                <input matInput placeholder="Chiave 2" [value]="element.chiave2" readonly
                                    formControlName="chiave2" style="text-align:center">
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field style="text-align: center">
                                    <input matInput placeholder="Chiave 3" [value]="element.chiave3" readonly
                                        formControlName="chiave3" style="text-align:center">
                                </mat-form-field>
                                &nbsp;
                            <mat-form-field style="text-align: center">
                                    <input matInput placeholder="Chiave 4" [value]="element.chiave4" readonly
                                        formControlName="chiave4" style="text-align:center">
                                </mat-form-field>
                                &nbsp;
                            <mat-form-field style="text-align: center">
                                    <input matInput placeholder="Chiave 5" [value]="element.chiave5" readonly
                                        formControlName="chiave5" style="text-align:center">
                                </mat-form-field>
                                &nbsp;
                            <mat-form-field style="text-align: center">
                                    <input matInput placeholder="Chiave 6" [value]="element.chiave6" readonly
                                        formControlName="chiave6" style="text-align:center">
                                </mat-form-field>
                                &nbsp;
                                <br>
                            <mat-form-field style="text-align: center">
                                    <input matInput placeholder="Data Inserimento"  readonly value=" "
                                        formControlName="dataInserimento" style="text-align:center"> {{element.dataInserimento | date: 'yyyy-MM-dd HH:mm'}}
                                </mat-form-field>
                                &nbsp;
                            <mat-form-field style="text-align: center">
                                    <input matInput placeholder="Data Aggiornamento"   readonly value=" "
                                        formControlName="dataAggiornamento" style="text-align:center"> {{element.dataAggiornamento | date: 'yyyy-MM-dd HH:mm'}}
                                </mat-form-field>
                                &nbsp;<br> 
                    <mat-form-field class="text-area-width">
                        <textarea  matInput placeholder="Applicazione" [value]="element.applicazione" readonly
                            formControlName="applicazione"></textarea>
                    </mat-form-field>
                    &nbsp; 
                    <mat-form-field class="text-area-width">
                        <textarea  matInput placeholder="Note" [value]="element.note" readonly
                            formControlName="note"></textarea>
                    </mat-form-field>
                    &nbsp; 
                    <mat-form-field class="text-area-width">
                        <textarea  matInput placeholder="Descrizione" [value]="element.descrizione" readonly
                            formControlName="descrizione"></textarea>
                    </mat-form-field>
                </form>
                <button mat-button (click)="navigateToUpdate(element)"><mat-icon>border_color</mat-icon></button>
                
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<div class="mat-elevation-z8 test" *ngIf="this.lunghezza == 0 ">
    <mat-error>Nessun dato da mostrare</mat-error>
</div>
<br>

<mat-radio-group [(ngModel)]="sceltaStat" *ngIf="this.lunghezza > 0 " class="example-form-radio" aria-label="Select an option" >

        <mat-radio-button *ngFor="let scelta of scelta"   (change)="onSceltaChange($event)" [value]="scelta.value">
            {{scelta.value}} &nbsp;
        </mat-radio-button>
    
    </mat-radio-group>
