textarea {
    height: 100px;
    resize: vertical;
}
.select-update {
    width: 150px!important;
  }
  .select-chiave {
    width: 150px!important;
  }
  .example-form {
      width: 100%!important;
  }
  .example-form-button{
    display:block;
    text-align: center;
    direction: ltr;
  }
  .example-full-width{
      width: 100%;
  }