<form id="form-ricerca" (ngSubmit)="modifica()" [formGroup]="form">
        <div class="example-form-button">
                <mat-form-field style="right: 0%; text-align: center">
                        <input matInput placeholder="Data Inserimento" readonly value=" "
                                formControlName="dataInserimento" style="text-align:center">
                        {{this.dataPresi?.dataInserimento | date: 'yyyy-MM-dd HH:mm'}}
                </mat-form-field>
                &nbsp;
                <mat-form-field style="margin-right: 0%; text-align: center">
                        <input matInput placeholder="Ultimo Aggiornamento" readonly value=" "
                                formControlName="dataAggiornamento" style="text-align:center">
                        {{this.dataPresi?.dataAggiornamento | date: 'yyyy-MM-dd HH:mm'}}
                </mat-form-field>
        </div>
        <br>
        <mat-form-field class="example-form">
                <input matInput placeholder="ID Univocovo" formControlName="idUnivoco" readonly
                        style="text-align:center">
        </mat-form-field>
        <br>
        <div class="example-form-button">
        <mat-form-field class="select-update">
                <mat-label>Stato</mat-label>
                <mat-select formControlName="stato">
                        <mat-option *ngFor="let stato of stati" [value]="stato.value">
                                {{stato.viewValue}}
                        </mat-option>
                </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field class="select-chiave">
                <input matInput placeholder="Codice Applicazione" formControlName="codiceApplicazione"
                        style="text-align:center">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="select-chiave">
                <input matInput placeholder="Chiave 1" formControlName="chiave1" style="text-align:center">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="select-chiave">
                <input matInput placeholder="Chiave 2" formControlName="chiave2" style="text-align:center">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="select-chiave">
                <input matInput placeholder="Chiave 3" formControlName="chiave3" style="text-align:center">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="select-chiave">
                <input matInput placeholder="Chiave 4" formControlName="chiave4" style="text-align:center">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="select-chiave">
                <input matInput placeholder="Chiave 5" formControlName="chiave5" style="text-align:center">
        </mat-form-field>
        &nbsp;
        <mat-form-field class="select-chiave">
                <input matInput placeholder="Chiave 6" formControlName="chiave6" style="text-align:center">
        </mat-form-field>
</div>
        <br>
        <mat-form-field class="example-full-width">
                <textarea formControlName="descrizione" matInput placeholder="Descrizione"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
                <textarea formControlName="note" matInput placeholder="Note"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
                <textarea formControlName="applicazione" matInput placeholder="Applicazione"></textarea>
        </mat-form-field>
        <div class="example-form-button">
                <button layout-align="center center" mat-raised-button (click)="indietro()">Indietro</button>
                &nbsp;
                <button layout-align="center center" type="submit" mat-raised-button color="primary">Modifica</button>
        </div>
</form>