<!--
<ngx-spinner
bdOpacity = 0.9
bdColor = "#ffffff"
size = "medium"
color = "#000000"
type = "line-scale"
[fullScreen] = "true"
>
<p style="color: black" > Loading File... </p>
</ngx-spinner> -->
<ng-progress id="myProgress" ></ng-progress>
<div class="btn-close">
   <button class="close" mat-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
   </button>
</div>
<form id="form-upload" (ngSubmit)="upload()" [formGroup]="formUpload">
   <div class="form">
      <input type="file" formControlName="file" name="file" placeholder="Upload file" accept=".xlsx"
         (change)="onFileChange($event.target.files)">&nbsp;
      <mat-checkbox formControlName="flag" type="checkbox" [checked]="formUpload.flag">Aggiorna</mat-checkbox>

   </div>
   <div class="btn-carica">
      <button type="submit" [disabled]="formUpload.invalid" mat-stroked-button color="primary">
         <mat-icon>cloud_upload</mat-icon>&nbsp;Carica
      </button>
   </div>
</form>

<!--
<label for="file-upload" class="custom-file-upload">
      <mat-icon>cloud_upload</mat-icon> Custom Upload
  </label>
  <input id="file-upload" type="file"/> -->
