.btn-close{
   margin-left: 500px;
}
.form-group{
    height: 100px;
    width: 150px
}
.btn-carica{
    min-width: 150px;
  display:block;
  text-align: center;
  direction: ltr;
}
.form{
    margin-top: 30px;
    margin-bottom: 30px;
    
    display:block;
    text-align: center;
    direction: ltr;

}
/*

per fare un bottone per caricare i file in modo custom

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
*/